.sidebar {
    width: 20%;
    background-color: #2C2C61;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .logo img {
    max-width: 80px;
    margin-bottom: 20px;
  }
  
  .button {
    width: 30vh;
    background-color: #FF7F00;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #e67000;
  }